<div class="mat-elevation-z8" *ngIf="dataSource.data.length else showMessage">
  
  <div id="header"> 
    <div id="users-container">
      <img id="users-logo" src="../assets/ico_users.svg"> 
      <span id="users">Users</span>
    </div>
    <div id="search-container">
        <input id="search-box" type="text" [(ngModel)]="dataSource.filter" placeholder="Search">
        <img id="search-icon" src="../assets/ico_search.svg">
        <button id="add-btn" (click)="addOrEditUser()">
          <span><img id="add-icon" src="../assets/ico_add.svg">Add User</span>
        </button>
    </div>
  </div>

  <hr id="header-bottom-line">

  <mat-table [dataSource]="dataSource" matSort class="container">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> NAME </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header> EMAIL </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
    </ng-container>

    <!-- RoleType Column -->
    <ng-container matColumnDef="roleType">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ROLE TYPE </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.roleType}} </mat-cell>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header> STATUS </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span *ngIf="statusList[0] === row.status" class="status-icon">
            <img src="../assets/ico_active.svg">
          </span>
          <span *ngIf="statusList[1] === row.status" class="status-icon">
            <img src="../assets/ico_pending.svg">
          </span>
          <span *ngIf="statusList[2] === row.status" class="status-icon">
            <img src="../assets/ico_inactive.svg">
          </span>
          {{row.status}}
           </mat-cell>
    </ng-container>

    <!-- Edit Column -->
    <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">
          <img id="edit-icon" src="../assets/ico_edit.svg" (click)="addOrEditUser(row)">
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
   
  </mat-table>
</div>

 <!-- When there is no user data or data is loading. -->
 <ng-template #showMessage>
  <div id="no-data" *ngIf="noDataFound else showSpinner">
    <h2>Ah!!..No User Data Found.</h2>
  </div>
  <ng-template #showSpinner>
      <div id="spinner-container">
          <mat-spinner></mat-spinner>
      </div>
  </ng-template>
</ng-template>