mat-header-cell {
    font-size: 1em;
    color: black;
}

#no-data {
    text-align: center;
    position: relative;
    top: 15vh;
}

#spinner-container {
    text-align: center;
    position: relative;
    top: 15vh;
}

mat-spinner {
    display: inline-block;
}