<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img id="org-logo" width="90" alt="Locusnine Logo" src="../assets/Logo.svg"/>

  <span class="nav-link">
    <a routerLink="/progress" routerLinkActive="active">
      <img width="20" alt="Dashboard" src="../assets/ico_dashboard.svg"/>
      <span class="nav-link-text">Dashboard</span>
    </a>
  </span>
  <span class="nav-link">
    <a routerLink="/users" routerLinkActive="active">
      <img width="20" alt="Users" src="../assets/ico_users.svg"/>
      <span class="nav-link-text">Users</span>
    </a>
  </span>
  <span class="nav-link">
    <a routerLink="/progress" routerLinkActive="active">
      <img width="20" alt="Session Manager" src="../assets/ico_sessionmanager.svg"/>
      <span class="nav-link-text">Session Manager</span>
    </a>
  </span>
  
  <div class="spacer"></div>
  
  <span class="nav-link"> 
    <a routerLink="/progress" routerLinkActive="active">
      <img width="20" alt="Notifications" src="../assets/ico_notification.svg"/>
    </a>  
  </span> 
  <span class="nav-link">
    <a routerLink="/progress" routerLinkActive="active">
      <img width="20" alt="user" src="../assets/ico_user.svg"/>
      <span class="nav-link-text">John Smith</span> 
      <img width="10" alt="profile" src="../assets/ico_downarrow.svg"/>
    </a>
  </span> 
</div>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>